@model IEnumerable<GigRate.Models.Performance>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Time On
        </th>
        <th>
            Time Off
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Act.Name)
        </th>
        <th>
            Event And Stage
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TimeOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeOff)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Act.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventInstanceStage.FriendlyName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }) |
                @Html.ActionLink("Rate", "RatePerformance", "PerformanceRatings", new { performanceId = item.Id }, null)
            </td>
        </tr>
    }

</table>
